.sidebar {
  width: 240px;
  background: var(--sidebar);
  color: white;

  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 25px;
}

.sidebar__logo {
  font-size: 22px;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__item {
  background: transparent;
  color: #9ca3af;

  border: none;

  padding: 12px;

  text-align: left;

  cursor: pointer;

  border-radius: 8px;

  transition: 0.2s;

  display: flex;

  align-items: center;

  gap: 10px;

}

.sidebar__item:hover {
  background: rgba(255,255,255,.08);
  color: white;
}

.sidebar__item--active {
  background: #1f2937;
  color: white;
}

.sidebar__item svg {
  opacity: 0.8;
}

